<div class="signup">
    <a class='back-btn' href="/classy/classy">Back to profile</a>

    <h2 class='signup-h2-lg'><u>When would you like to create your class?</u></h2>
    {{#if errorMessage}}
    <p> {{errorMessage}}</p>
    {{/if}}
    <form action="/classy/create-class" method="post">
        <label class='form-label' for="class-date-input">Date</label for='date'>
        <input class="signupFields" type="date" name="classDate">
        <label class='form-label' for='   time'>Time</label>
        <input class="signupFields" type="time" name="time">
        <input class="signupFields" type='text' name='name' placeholder='Class name'>
        <textarea  class="signupFields"  type= 'text' name="description" rows="10" cols="50" name='description' placeholder='Class description'></textarea>
        
        <label class="signupFields" for='select'>Assign the Class to</label>
        <select name='student'>
            {{#each users}}
            <option class="studentOption" value={{_id}}>{{name}}</option>
            {{/each}}
        </select>
        <button class="btn btn-warning" style='margin-bottom:2em' type='submit'> Create! </button>
    </form>
</div>