<div class="signup">
     <a class='back-btn' href="javascript:history.back()">Back</a>

<h2><u>When would you like to create your class?</u></h2> 
<form action="/classy/create-class" method="post">
        <label class="labelCreate" for="class-date-input">Date</label for='date'>
        <input class="fields" type="date" name="classDate">
        <label class="labelCreate" for='time'>Time</label>
        <input class="fields" type="time" name="time">
        <label class="labelCreate" for ='name'>Name</label>
        <input class="fields" type='text' name='name'>
        <label class="labelCreate" for ='description'>Description</label>
        <input class="fields" type='text' name='description'>

    <label class="labelCreate" for='select'>Assign the Class to:</label>

    
    <select name='student'> 
    {{#each users}}
        <option class="studentOption" value ={{_id}}>{{name}}</option>
    {{/each}}
    </select>
    <button class="btnCreate"type='submit'> Create a Class! </button>
</form>
</div>
