<div class='viewport-100 '>
    <nav class="mb-1 navbar navbar-expand-lg nav-bar">
        <button class="navbar-toggler profile-lanp ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false"
            aria-label="Toggle navigation">
            <a class=' mr-5'></a><i class="fas fa-user-plus "></i><a></a>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent-4">
            <ul class="navbar-nav ml-auto nav-list">
                <li class="nav-item nav-i active bg-light button has-shadow">
                    <a class="nav-link" href="#">
                        <i class="fab fa-facebook-f"></i> Facebook
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item nav-i bg-light button has-shadow">
                    <a class='nav-link' style='color:black' href='/classy/teachers'><i class="fas fa-user-tie"></i> Book
                        a class</a>
                </li>
                <li class="nav-item nav-i dropdown profile-toggle-btn button has-shadow">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i> Profile </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info ddm-list"
                        aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item ddm-list" href="/classy/classy"><b>My account</b></a>
                        <a class="dropdown-item ddm-list" href='/auth/logout'>Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <a class="navbar-brand classy-h2" href="/home">Classy <i class="fas fa-user-graduate grad-cap"></i></a>



    <div class='circle-container'>

        <div class='circle-helix'></div>
        <div class='circle-signup'>
            <p class='p-new'>New?</p> <br>
            <p><a class='p-SU' href='/auth/signup'>Sign Up</a></p>
        </div>
        <div class='circle-user'>
            <p> <a class='p-login' href='/auth/login'> <b>Login</b></a></p>
        </div>
    </div>
    <div class='card mx-auto mb-5' style="width: 21rem;">
        <div class=" card-body"  style="width: 21rem;">
            <h2 class="f-title f_600 t_color f_size_18">Follow your classes on Google Drive</h2>
            <div class="f_social_icon" style='text-align: center' > 
                <a href="https://drive.google.com/drive/my-drive" class="fab fa-google-drive"></a>
            </div>
        </div>
    </div>


    <footer class='footer'></footer>
    <footer class="new_footer_area bg_color">
        <div class="new_footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Get in Touch</h3>
                            <p>Don’t miss any updates!</p>
                            <form action="#" class="f_subscribe_two mailchimp" method="post" novalidate="true"
                                _lpchecked="1">
                                <input type="text" name="EMAIL" class="form-control memail" placeholder="Email">
                                <a class=" btn btn_get_two" href='/auth/signup'>SignUp</a>
                                <p class="mchimp-errmessage" style="display: none;"></p>
                                <p class="mchimp-sucmessage" style="display: none;"></p>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Download</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">Company</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Help</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Term &amp; conditions</a></li>
                                <li><a href="#">Reporting</a></li>
                                <li><a href="#">Documentation</a></li>
                                <li><a href="#">Support Policy</a></li>
                                <li><a href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
                            style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <h3 class="f-title f_600 t_color f_size_18">Team Solutions</h3>
                            <div class="f_social_icon">
                                <a href="#" class="fab fa-facebook"></a>
                                <a href="#" class="fab fa-twitter"></a>
                                <a href="#" class="fab fa-linkedin"></a>
                                <a href="#" class="fab fa-pinterest"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bg">
                <div class="footer_bg_one"></div>
                <div class="footer_bg_two"></div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row align-items-center">

                </div>
            </div>
        </div>
    </footer>