
<nav class='nav-bar'> 
    <h2><a class='classy-h2' href='/'>CLASSY</a></h2>
</nav>

<div class='circle-container'>

    <div class='circle-helix'></div>
    <div class='circle-signup'><p class='p-new'>New?</p> <br> <p><a class='p-SU' href='/auth/signup'>Sign Up</a></p></div>
    <div class='circle-user'> <p> <a class='p-login' href='/auth/login'>Login as a Student</a></p></div>
    <div class='circle-teacher'><p> <a class='p-login' href='/auth/login'>Login as a teacher </a></p></div>
    <div><p> <a class='p-login' href='/classy/classy'>Private </a></p></div>


</div>


<footer class='footer'> 
    
</footer>
