<form action='/auth/login' method='post'>

<label for='email'>Email </label>
<input type='email' name='email' placeholder='Email @'>

<label for='password'>Password </label>
<input type='password' name='password' placeholder='Password'>

<button type='submit'>Login</button>

</form>


{{#if errorMessage}}

<p> {{errorMessage}}</p>

{{/if}}