<div class="signup">
     <a class='back-btn' href="javascript:history.back()">Back</a>

    <h2><u>Log in</u></h2>
<form action='/auth/login' method='post' autocomplete='on'>

{{!-- <label for='email'>Email </label> --}}
<input class="signupFields" type='email' name='email' placeholder='Email @' required='required'>

{{!-- <label for='password'>Password </label> --}}
<input class="signupFields" type='password' name='password' placeholder='Password' required='required'>

<button class="btn" type='submit'>Login</button>

</form>


{{#if errorMessage}}
<p> {{errorMessage}}</p>
{{/if}}