<div class="signup">
   <a class='back-btn' href="/classy/classy">Back to profile</a>


<h2>Upload a new photo</h2>
<form action="/classy/photo/add" method="post" enctype="multipart/form-data">
    <label>Title</label>
    <input type="text" name="title">

    <label>Description</label>
    <input type="text" name="description">

    <label>Poster</label>
    <input type="file" name="photo">

    <input type="submit" value="SAVE">
</form>
    <div>
    <img src="{{photo.imgPath}}" alt='photo'>
    </div>

<h1>Profile</h1>

    <form action="/classy/edit/profile" method='post'>

      <label class="classDetailsLabel">Name</label>
      <input class="fields" type='text' name='name' value='{{name}}'>
       <label class="classDetailsLabel">New Password</label>
      <input class="fields" type='password' name='password' value=''>
      <button class="btnCreate" type='submit'>Save</button>
    </form>
</div>