<div class="signup">
<h1><u>profile</u></h1>

    <form action="/classy/edit/profile" method='post'>

      <label class="classDetailsLabel">Name</label>
      <input class="fields" type='text' name='name' value='{{name}}'>
       <label class="classDetailsLabel">New Password</label>
      <input class="fields" type='password' name='password' value='{{password}}'>
      <button class="btnCreate" type='submit'>Save</button>
    </form>
</div>