<div class="signup">
   <a class='back-btn' href="javascript:history.back()">Back</a>

<!-- <section>
    <h2>Upload your photo</h2>
    <form action="/classy/photo/upload" method="post" enctype="multipart/form-data">
        <input type="text" name="name">
        <input type="file" name="photo">
        <input type="submit" value="Save">
    </form>
</section>

<section>
    {{#each pictures}}
    <h3>{{name}}</h3>
    <img src="{{path}}" alt="{{originalName}}">
    {{/each}}
</section> -->


<h1>Profile</h1>

    <form action="/classy/edit/profile" method='post'>

      <label class="classDetailsLabel">Name</label>
      <input class="fields" type='text' name='name' value='{{name}}'>
       <label class="classDetailsLabel">New Password</label>
      <input class="fields" type='password' name='password' value=''>
      <button class="btnCreate" type='submit'>Save</button>
    </form>
</div>