<div class="signup">
   <a class='back-btn' href="/classy/classy">Back to profile</a>


<h1>Profile</h1>
    <div>
    <img class='profile-pic img-fluid rounded mx-auto d-block' src="{{imgPath}}" alt='photo'>
    </div>

    <form action="/classy/profile/edit-profile" method='post' enctype="multipart/form-data">
    <input class='btn w-100' type="file" name="photo"/>

      <label class="classDetailsLabel">Name</label>
      <input class="fields" type='text' name='name' value='{{name}}'>
       <label class="classDetailsLabel">New Password</label>
      <input class="fields" type='password' name='password' placeholder='...'>
      <button class="btnCreate" type='submit'>Save</button>
    </form>
</div>
{{#if errorMessage}}
<p> {{errorMessage}}</p>
{{/if}}