<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<div class="signup">
    <a class='back-btn' href="/home">Home</a>

    <h2 class='signup-h2-lg'><u>Create an account</u></h2>

    <div class='errorMessage'>
        {{#if errorMessage}}
        {{errorMessage}}
        {{/if}}
    </div>

    <form class='form-lg' action='/auth/signup' method='post' novalidate>

        {{!-- <label for='username'>Name </label> --}}
        <input class="signupFields" type='text' name='name' placeholder='Name' required='required'>

        {{!-- <label for='email'>Email</label> --}}
        <input class="signupFields" type='email' name='email' placeholder='Email @' required='required'>

        {{!-- <label for='password'>Password </label> --}}
        <input class="signupFields" type='password' name='password' placeholder='Password' required='required'>

        <input class="signupFields" type='text' name='phoneNumber' placeholder='Phone Number' required='required'>


        <script type="text/javascript">
            $(function () {
                $("#beaTeacher").click(function () {
                    if ($(this).is(":checked")) {
                        $("#teacherBox").show();
                    } else {
                        $("#teacherBox").hide();
                    }
                });
            });

        </script>
        <label class="bTeacher">
            Want to become a teacher?
        </label>
        <div class="round">
            <input class='checkBoxTeacher' type="checkbox" id="beaTeacher" name='isTeacher' />
            <label for="beaTeacher"></label>
        </div>

        <div id="teacherBox" style="display: none">
            <ul style='list-style:none'>
                <li> <input class="signupFields" type='number' name='classPrice' placeholder='Class Price €'
                        required='required' /></li>
                <li><input class="signupFields" type='text' name='subject' placeholder='What can you teach?'
                        required='required' /></li>
                <li><label class='form-label' style='text-align:center' from='bio'>Write your Bio</label></li>
                <li><textarea class="signupFields" type='text' name='bio'> </textarea></li>
            </ul>

        </div>


        <button class="btn btn-warning" type='submit'>Sign Up</button>


    </form>