<div class="signup">
     <a class='back-btn' href="javascript:history.back()">Back</a>

    <h2><u>Create an account</u></h2>

<div class='errorMessage'>
    {{#if errorMessage}}
    {{errorMessage}}
    {{/if}}
</div>

<form action='/auth/signup' method='post' novalidate>

{{!-- <label for='username'>Name </label> --}}
<input class="signupFields" type='text' name='name' placeholder='Name' required='required'>

{{!-- <label for='email'>Email</label> --}}
<input class="signupFields" type='email' name='email' placeholder='Email @' required='required'>

{{!-- <label for='password'>Password </label> --}}
<input class="signupFields" type='password' name='password' placeholder='Password' required= 'required'>

<label class="bTeacher"for='isTeacher'>Want to become a teacher?</label>
<input class="tick" type='checkbox' name ='isTeacher'>

<button class="btn"type='submit'>Sign Up</button>

</form>
</div>
