<form action='/auth/signup' method='post'>

<label for='username'>Name </label>
<input type='text' name='name' placeholder='Name'>

<label for='email'>Email</label>
<input type='email' name='email' placeholder='Email @'>

<label for='password'>Password </label>
<input type='password' name='password' placeholder='Password'>
<label for='isTeacher'>Want to become a teacher?</label>
<input type='checkbox' name ='isTeacher'>

<button type='submit'>Sign Up</button>

</form>
