<h2> Find a Teacher </h2>
<ul>
    {{#each teachers}}
    <li>
        <h3> {{ this.name }} </h3>
        <p> Fee: {{ this.classPrice }}$ </p>
        <a href="/classy/teachers/{{ this._id }}">
            Schedule a Class
        </a>
    </li>
    {{/each}}
</ul>   
<a href="/classy/classy">
    Back to Dashboard
</a>