
* {
  margin:0;
  padding:0
}

body{
  min-height:80vh;
}

.viewport-100{
  background-color:rgb(0,0,0, .9);
}

.nav-bar{
  background: rgb(244,240,26);
  background: linear-gradient(315deg, rgba(244,240,26,0.8382703423166141) 42%, rgba(232,245,12,0.8718837876947654) 47%, rgba(224,236,11,0.9475140397956058) 49%, rgba(216,230,26,1) 51%, rgba(220,224,42,0.8158613787311799) 54%, rgba(220,236,18,1) 57%, rgba(252,249,22,0.9363095580028886) 61%);
  margin-bottom:10px;
  height:7vh;
  position:relative;
}

.footer{
  background: rgb(244,240,26);
  background: linear-gradient(315deg, rgba(244,240,26,0.8382703423166141) 42%, rgba(232,245,12,0.8718837876947654) 47%, rgba(224,236,11,0.9475140397956058) 49%, rgba(216,230,26,1) 51%, rgba(220,224,42,0.8158613787311799) 54%, rgba(220,236,18,1) 57%, rgba(252,249,22,0.9363095580028886) 61%);
  height: 7vh;
  position:static;
  margin-bottom:0px;
}


.classy-h2{
  font-family: 'pacifico';
  text-align:center;
  font-size:64px;
  position:absolute;
  right:50%;
  transform: translate(50%, 35%);
  text-decoration:none;
  color:black;

}

.classy-h2:hover{
color: rgb(107,226,19);

}


.circle-container{
position:relative;
min-height:86vh;
}

.circle-helix {
  position:absolute;
  border:solid yellow 8px;
  background-color: none;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  height: 700px;
  width: 700px;
  border-radius: 50%;
   
}

.circle-signup {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background: rgb(107,226,19);
  background: linear-gradient(42deg, rgba(107,226,19,0.9587185215883228) 42%, rgba(90,188,22,1) 47%, rgba(105,226,25,1) 49%, rgba(100,225,36,1) 51%, rgba(97,224,42,0.8158613787311799) 54%, rgba(106,236,18,1) 57%, rgba(95,224,46,1) 61%, rgba(23,255,0,1) 100%);
  box-shadow: 10px 10px 68px 46px rgba(242,232,39,0.84);


}



.circle-user {
  position: absolute;
  left: 21%;
  bottom: 63%;
  transform: translate(-50%, 50%);
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: rgba(255, 255, 51);
}



.circle-teacher {
  position: absolute;
  right: 0%;
  bottom: 37%;
  transform: translate(-50%, 50%);
  height: 220px;
  width: 220px;
  border-radius: 50%;
  background-color: rgba(255, 255, 51);
}

.p-new {
  font-family:'pacifico';
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,50%);
  font-size: 50px;
}

.p-SU {
  font-family:'pacifico';
  position: absolute;
  bottom: 30%;
  transform: translate(38%,-24%);
  font-size: 56px;
  text-decoration: underline;
  color: yellow;
}


.p-login {
  font-family:'pacifico';
  position: absolute;
  bottom: 10%;
  transform: translate(-1%,-38%);
  font-size: 31px;
  text-align: center;
  text-decoration:none;
  color: rgb(107,186,19);
  font-size:35px;
}

.view {
  margin:0;
  background-image: url(../images/Doisneau-kids.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

.layer {
  margin:0;
  background-color: rgba(111, 67, 131, 0.901);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  /* border: 30px solid rgb(105, 75, 47); */
}

.mainTitle {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9em;
  font-family: "Pacifico";
  color: rgba(0, 0, 0, 0.85);
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.feedback{
  position:relative;
}

.rating {
  float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    /* padding:0 .1em; */
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:300%;
    /* line-height:1.2; */
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: dodgerblue;
    
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: dodgerblue;
    
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: dodgerblue;
    
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* .signup{
  background-color: rgb(244,240,26);
  
} */

/* user-interface styles*/

.userInt-nav {
  background-color: green;
  position: static;
  align-items: center;
  height: 4vh;
  display: flex;
  justify-content: flex-end;
}

.home-a {

  text-decoration: none;
  color: black;
  font-size: 25px;
  padding: 5px;
  margin-right: 15px;
  font-family:'pacifico'
}

.home-a:hover{
  text-decoration: none;
  color:black
}



.full-class {
  background-color: yellow;
  height: 40vh;
  margin-top: 50%;
  margin-right: 10%;
  display: flex;
  margin-left: 10%;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  line-height:2.1;
  flex-direction: column;
}

.h2-interface{
  font-family: 'pacifico';
  font-size:32px;
}

.p-interface{
  font-family: 'pacifico';
}

.teacher-interface{
  font-family: 'pacifico';

}

.student-interface{
  font-family: 'pacifico';
  
}
/* sign-up/log-in styles */
.signup{
  min-height: 100vh;
  background-color: rgb(244,240,26);
}

.signup > h2{
  font-family: 'Pacifico';
  font-size: 4em;
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.signupFields {
  background-color: rgb(107,186,19);
  border-style: none;
  font-size: 2em;
  border-radius: 10px;
  text-align: center;
  font-family:'Red Hat Text';
  height: 3em;
  width: 15em;
  margin-bottom: 4em;
}

.signup > form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4em;
}

.btn{
  font-size: 2em;
  border-radius: 10px;
  height: 2em;
  width: 5em;
  font-size: 30px;
  padding-bottom: 2em;
  font-weight: bold;
}

.bTeacher{
  font-size: 2.5em;
  font-family: 'Pacifico';
}

.tick{
  margin-bottom: 4em;
  margin-top: 2em;
  height: 2em;
  width: 2em;
}

.signup> p{
  margin-top: 2em;
  font-size: 2em;
  color: rgb(124, 41, 41);
  font-weight: bold;
  text-align: center;
}
/* END of sign-up/log-in styles */

/* necesita quedarse al fondo del css */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}